@import url('https://fonts.googleapis.com/css?family=Poppins:500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

*
{box-sizing: border-box;
margin: 0;
padding: 0;}

/*   ---------- Desktop ----------   */

@media only screen  and (min-width : 480.02px) {

.header_div
{background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 0.8rem 20%;
z-index: 99;}

.logo
{font-family: "Poppins";
color: #FFAC3E;
font-weight: 800;
font-size: 156.25%;
text-decoration: none;
cursor: pointer;}

.mixdown
{font-family: "Poppins";
color: #FFAC3E;
font-weight: 800;
font-size: 156.25%;
text-decoration: none;
cursor: pointer;}

.flecha_atras
{display: none;}

.titulo
{font-family: "Poppins";
font-weight: 800;
color: #FFAC3E;
font-size: 262.5%;
text-align: center;
margin-bottom: 15px;
margin-top: 130px;}

.separador_container
{text-align: center;}

.separador
{margin-bottom: 20px;
width: 20%;}

.head_image_container
{text-align: center;}

.head_image
{width: 60%;
margin-top: 50px;}

.cartelito_container
{position: relative;
left: 63.5%;
width: 16.5%;}

.fb_blanco
{position: absolute;
top: 182px;
left: 120px;
z-index: 85;}

.ig_blanco
{position: absolute;
top: 182px;
left: 168px;
z-index: 85;}

.cartelito
{position: absolute;
margin-top: 50px;
z-index: 80;}

.cartelito img
{box-shadow: 0px 1px 5px grey;
width: 100%;}

.articulo
{font-family: "Lato";
font-size: 118.75%;
color: #6A6A6A;
margin-left: 20%;
margin-right: 42%;
line-height: 27px;
text-align: justify;}

.date
{font-weight: 900;
margin-top: 40px;
margin-bottom: 40px;}

.autor
{font-weight: 400;}

.autor_mobile
{display: none;}

.choose
{color: #FFAC3E;
font-weight: bold;
position: relative;}

.popup
{background-color: white;
box-shadow: 1.5px 1.5px 25px rgba(0, 0, 0, 0.3);
color: #6A6A6A;
position: absolute;
bottom: 50px;
width: 355px;
font-size: 85%;
line-height: 22.5px;
font-weight: 400;
left: 50%;
transform: translate(-50%, 0);
overflow: hidden;
max-height: 0px;
opacity: 0;
transition: max-height 0.01s;
transition: padding 0.01s;
transition: opacity 0.3s;
transition-delay: 0.1s;}

.choose:hover .popup_con_imagen,
.popup_con_imagen:hover
{max-height: 600px;
opacity: 1;
padding: 0px 30px 30px 30px;
transition: max-height 0.01s;
transition: padding 0.01s;
transition: opacity 0.3s;
transition-delay: 0.1s;}

.choose:hover .popup_sin_imagen,
.popup_sin_imagen:hover
{max-height: 600px;
opacity: 1;
padding: 25px 30px 30px 30px;
transition: max-height 0.01s;
transition: padding 0.01s;
transition: opacity 0.3s;
transition-delay: 0.1s;}

.popup img
{width: 100%;}

.hide_text
{display: none;}

.article_image
{width: 100%;
margin-bottom: 3%;}

.article_image_mobile
{display: none;}

.subtitle
{font-weight: 900;}

.video
{margin-top: 30px;
margin-bottom: 20px;
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;}

.video iframe
{position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;}

footer
{margin-top: 80px;
margin-bottom: 40px;}

hr
{background-color: #6A6A6A;
height: 1px;}

.footer_container
{margin-top: 40px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-left: 20%;
margin-right: 20%;}

footer p
{font-family: "Poppins";
font-weight: 500;
font-size: 87.5%;
color: #6A6A6A;}

footer a
{font-family: "Poppins";
font-weight: 500;
font-size: 87.5%;
color: #6A6A6A;
text-decoration: none;}

.footer_data_1
{text-align: left;}

.footer_data_2
{text-align: center;
text-decoration: none;}

.redes_container
{text-align: right;}

.redes_container img
{width: 5%;}

.instagram
{padding-right: 7px;}

}

/*   ---------- Mobile ----------   */

@media only screen and (max-width : 480px) {

html, body
{overflow-x: hidden;
font-size: calc(1em + 0.2vw)}

.header_div
{background-color: #1C1C1C;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
height: 10%;
z-index: 99;}

.logo
{font-family: "Poppins";
color: #FFAC3E;
font-weight: 800;
font-size: 230%;
text-decoration: none;
cursor: pointer;
margin-left: 6%;}

.mixdown
{display: none;}

.flecha_atras
{margin-right: 6%;}

.titulo
{font-family: "Poppins";
font-weight: 800;
color: white;
font-size: 12vw;
text-align: center;
margin-bottom: 15px;
margin-top: 190px;}

.body_compresion
{background-image: url(imagenes/mobile/basico/compresion/articulo.jpg);
background-repeat: no-repeat;
background-position: center;
background-position-y: top;
width: 100%;}

.body_sidechain
{background-image: url(imagenes/mobile/basico/sidechain/articulo.jpg);
background-repeat: no-repeat;
background-position-y: top;
width: 100%;}

.separador_container
{display: none;}

.head_image_container
{display: none;}

.cartelito_container
{display: none;}

.articulo
{font-family: "Lato";
font-size: 112.5%;
color: #6A6A6A;
margin-left: 8%;
margin-right: 8%;
margin-top: 32%;
line-height: 25px;
text-align: justify;}

.date
{font-weight: 900;
margin-bottom: 5px;}

.autor
{display: none;}

.autor_mobile
{margin-bottom: 40px;}

.popup_container
{display: none;}

.article_image
{display: none;}

.article_image_mobile
{margin-bottom: 20px;
width: 100%;}

.video
{margin-top: 30px;
margin-bottom: 20px;
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;}

.video iframe
{position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;}

.subtitle
{font-weight: 900;}

footer
{margin-top: 80px;
margin-bottom: 40px;}

hr
{background-color: #6A6A6A;
height: 1px;
margin-left: -500px;
margin-right: -500px;}

.footer_container
{margin-top: 40px;
display: grid;
grid-template-columns: 1fr 1fr;
margin-left: 7%;
margin-right: 7%;}

footer a
{font-family: "Poppins";
font-weight: 500;
font-size: 100%;
color: #6A6A6A;
text-decoration: none;}

.footer_data_1
{display: none;}

.footer_data_2
{text-align: left;
text-decoration: none;}

.redes_container
{text-align: right;}

.redes_container img
{width: 10%;}

.instagram
{padding-right: 15px;}

}

/*   ---------- Mobile Small ----------   */

@media only screen and (max-width : 360px) {

html, body
{overflow-x: hidden;
font-size: calc(1em + 0.2vw)}

.header_div
{background-color: #1C1C1C;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
height: 10%;
z-index: 99;}

.logo
{font-family: "Poppins";
color: #FFAC3E;
font-weight: 800;
font-size: 250%;
text-decoration: none;
cursor: pointer;
margin-left: 6%;}

.mixdown
{display: none;}

.flecha_atras
{margin-right: 6%;}

.titulo
{font-family: "Poppins";
font-weight: 800;
color: white;
font-size: 12vw;
text-align: center;
margin-bottom: 15px;
margin-top: 190px;}

.body_compresion
{background-image: url(imagenes/mobile/basico/compresion/articulo.jpg);
background-repeat: no-repeat;
background-position: center;
background-position-y: top;
width: 100%;}

.body_sidechain
{background-image: url(imagenes/mobile/basico/sidechain/articulo.jpg);
background-repeat: no-repeat;
background-position-y: top;
width: 100%;}

.separador_container
{display: none;}

.head_image_container
{display: none;}

.cartelito_container
{display: none;}

.articulo
{font-family: "Lato";
font-size: 112.5%;
color: #6A6A6A;
margin-left: 8%;
margin-right: 8%;
margin-top: 32%;
line-height: 25px;
text-align: justify;}

.date
{font-weight: 900;
margin-top: 150px;
margin-bottom: 40px;}

.autor
{display: none;}

.autor_mobile
{display: none;}

.popup_container
{display: none;}

.article_image
{display: none;}

.article_image_mobile
{margin-bottom: 20px;
width: 100%;}

.video
{margin-top: 30px;
margin-bottom: 20px;
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;}

.video iframe
{position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;}

.subtitle
{font-weight: 900;}

footer
{margin-top: 80px;
margin-bottom: 40px;}

hr
{background-color: #6A6A6A;
height: 1px;
margin-left: -500px;
margin-right: -500px;}

.footer_container
{margin-top: 40px;
display: grid;
grid-template-columns: 1fr 1fr;
margin-left: 7%;
margin-right: 7%;}

footer a
{font-family: "Poppins";
font-weight: 500;
font-size: 100%;
color: #6A6A6A;
text-decoration: none;}

.footer_data_1
{display: none;}

.footer_data_2
{text-align: left;
text-decoration: none;}

.redes_container
{text-align: right;}

.redes_container img
{width: 10%;}

.instagram
{padding-right: 15px;}

}
