@import url('https://fonts.googleapis.com/css?family=Poppins:500,600,700,800');

*
{box-sizing: border-box;
margin: 0;
padding: 0;}

/*   ---------- Desktop ----------   */

@media only screen  and (min-width : 480.02px) {

.header_div
{background-color: #1C1C1C;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 0.8rem 20%;
z-index: 99;}

.logo
{font-family: "Poppins";
color: #FFAC3E;
font-weight: 800;
font-size: 156.25%;
text-decoration: none;
cursor: pointer;}

.lupa
{width: 15px;
position: absolute;
top: 13%;
right: 1%;}

.search_form
{background-color: white;
position: absolute;
right: 20%;
border-radius: 5px;}

.buscar
{background-color: white;
border-style: none;
border-radius: 5px;
font-family: "Poppins";
font-weight: 600;
font-size: 93.75%;
padding-left: 3%;
padding-right: 13%;}

body
{background-image: url("imagenes/hero_landing.jpg");
background-repeat: no-repeat;
background-position: center;
background-position-y: top;
background-position-x: center;
width: 100%;}

.landing
{text-align: center;
margin: auto;}

.titulo_landing
{padding-top: 370px;
font-family: "Poppins";
font-size: 406.25%;
color: #FFAC3E;
font-weight: 800;}

.bajada_landing
{margin-top: 10px;
font-family: "Poppins";
font-size: 125%;
color: white;
font-weight: 600;}

.comenzar
{background-color: #FFAC3E;
margin-top: 32px;
border-radius: 5px;
padding: 12px 50px;
border-style: none;
margin-bottom: 410px;
cursor: pointer;}

.comenzar a
{color: white;
text-decoration: none;
font-family: "Poppins";
font-size: 100%;
font-weight: 700;}

.post_landing
{padding-top: 120px;}

.titulo_niveles
{font-family: "Poppins";
font-weight: 800;
color: #FFAC3E;
font-size: 42px;
text-align: center;
margin-bottom: 15px;
cursor: pointer;
margin: auto;
width: 250px;}

.separador_container
{text-align: center;}

.separador
{margin-bottom: 20px;
width: 20%;}

.niveles_container
{margin: auto;
width: fit-content;}

.niveles
{text-align: center;
cursor: pointer;
grid-template-columns: 1fr 1fr 1fr;
display: grid;}

.niveles a
{font-family: "Poppins";
font-weight: 600;
color: black;
font-size: 106.25%;}

.basico
{padding: 0 60px;}

.basico:hover
{background-color: #72CCFF;
border-radius: 5px;}

.intermedio
{padding: 0 43px;}

.intermedio:hover
{background-color: #9F53FF;
border-radius: 5px;}

.avanzado
{padding: 0 45px;}

.avanzado:hover
{background-color: #FF5151;
border-radius: 5px;}

li a
{text-decoration: none;
color: black;}

li a:visited
{text-decoration: none;
color: black;}

#tablaPiola
{width: 75%;
margin: auto;
text-align: center;
margin-top: 100px;}

.art
{width: 275px;
position: relative;
margin: 10px;
display: inline-block;}

.art img
{width: 275px;}

.text
{text-decoration: none;
font-family: "Poppins";
font-weight: 700;
font-size: 17.5px;
color: white;
text-align: center;
line-height: 154.38px;}

.overlay_basico
{opacity: 0;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 154.38px;
transition: .25s ease;
background-color: #72CCFF;
border-radius: 8px;}

.overlay_basico:hover
{opacity: 1;}

.overlay_intermedio
{opacity: 0;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 154.38px;
transition: .25s ease;
background-color: #9F53FF;
border-radius: 8px;}

.overlay_intermedio:hover
{opacity: 1;}

.overlay_avanzado
{opacity: 0;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 154.38px;
transition: .25s ease;
background-color: #FF5151;
border-radius: 8px;}

.overlay_avanzado:hover
{opacity: 1;}

footer
{margin-top: 80px;
margin-bottom: 40px;}

hr
{background-color: #6A6A6A;
height: 1px;}

.footer_container
{margin-top: 40px;
display: grid;
grid-template-columns: 1fr 0.5fr 1fr;
margin-left: 20%;
margin-right: 20%;}

footer p
{font-family: "Poppins";
font-weight: 500;
font-size: 87.5%;
color: #6A6A6A;}

footer a
{font-family: "Poppins";
font-weight: 500;
font-size: 87.5%;
color: #6A6A6A;
text-decoration: none;}

.footer_data_1
{text-align: left;}

.footer_data_2
{text-align: center;
text-decoration: none;}

.redes_container
{text-align: right;}

.redes_container img
{width: 5%;}

.instagram
{padding-right: 7px;}

}

/*   ---------- Mobile ----------   */

@media only screen and (max-width : 480px) {

html {font-size: calc(1em + 0.2vw)}

.header_div
{background-color: #1C1C1C;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
height: 10%;
z-index: 99;}

.logo
{font-family: "Poppins";
color: #FFAC3E;
font-weight: 800;
font-size: 230%;
text-decoration: none;
cursor: pointer;
margin-left: 6%;}

.lupa
{display: none;}

.search_form
{border-radius: 5px;
height: 33%;
background-color: white;
margin-right: 7%;}

.buscar
{border-style: none;
height: 100%;
width: 100%;
border-radius: 5px;
font-family: "Poppins";
font-weight: 600;
font-size: 93.75%;
padding-left: 3%;
padding-right: 3%;}

body
{background-image: url("imagenes/hero_landing.jpg");
background-repeat: no-repeat;
background-position: center;
background-position-y: top;
background-position-x: center;
width: 100%;}

.landing
{text-align: center;
margin: auto;}

.titulo_landing
{padding-top: 65%;
font-family: "Poppins";
font-size: 16vw;
color: #FFAC3E;
font-weight: 800;
line-height: 110%;}

.bajada_landing
{display: none;}

.comenzar
{background-color: #FFAC3E;
margin-top: 55px;
border-radius: 5px;
padding: 12px 64px;
border-style: none;
margin-bottom: 188px;
cursor: pointer;}

.comenzar a
{color: white;
text-decoration: none;
font-family: "Poppins";
font-size: 106.25%;
font-weight: 700;}

.titulo_niveles
{font-family: "Poppins";
font-weight: 800;
color: #FFAC3E;
font-size: 262.5%;
text-align: center;
padding-top: 130px;
margin-bottom: 15px;
cursor: pointer;
margin: auto;
width: 250px;}

.separador_container
{text-align: center;}

.separador
{margin-bottom: 30px;
width: 60%;}

.niveles_container
{margin: auto;
width: fit-content;}

.niveles
{text-align: center;
cursor: pointer;
grid-template-columns: 1fr 1fr 1fr;
display: grid;
width: 70%;}

.niveles a
{font-family: "Poppins";
font-weight: 600;
color: black;
font-size: 3.5vw;}

.basico
{padding-left: 30px;
padding-right: 44px;}

.intermedio
{padding-left: 20px;
padding-right: 22px;}

.avanzado
{padding-left: 25px;
padding-right: 25px;}

#tablaPiola
{width: 88%;
margin: auto;
margin-top: 60px;}

.art
{width: 100%;
position: relative;
margin-bottom: 20px;
display: block;}

.art img
{width: 100%;}

.overlay_basico
{opacity: 0;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 8px;}

.overlay_basico:hover
{opacity: 1;}

.overlay_intermedio
{opacity: 0;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 8px;}

.overlay_intermedio:hover
{opacity: 1;}

.overlay_avanzado
{opacity: 0;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 8px;}

.overlay_avanzado:hover
{opacity: 1;}

.text
{display: none;}

footer
{margin-top: 80px;
margin-bottom: 40px;}

hr
{background-color: #6A6A6A;
height: 1px;}

.footer_container
{margin-top: 40px;
display: grid;
grid-template-columns: 1fr 1fr;
margin-left: 7%;
margin-right: 7%;}

footer a
{font-family: "Poppins";
font-weight: 500;
font-size: 100%;
color: #6A6A6A;
text-decoration: none;}

.footer_data_1
{display: none;}

.footer_data_2
{text-align: left;
text-decoration: none;}

.redes_container
{text-align: right;}

.redes_container img
{width: 10%;}

.instagram
{padding-right: 15px;}

}
